.wrapper{
  display: grid;
  grid-template-areas:
            "h h"
            "n c";
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 2fr 15fr;
  width: 1400px;
  margin: 0 auto;
  height: 600px;
}